/** Custom general style **/
.navbar-nav > li > a, .dropdown-menu > li > a{
	border-radius:15px;
}

.navbar-transparent{
	background-color: rgb(250,250,250,0.5);
	backdrop-filter: blur(4px);
}
.brandText {
	color: black;
	max-width:120px;
	font-weight:bold;
	font-style: italic;
	letter-spacing: initial;
}

.breadcrumb li a {
    border-radius:15px;
}
.impact_img svg {
	background-color:${webleger.site.style.color};
	color:${webleger.site.style.background.color};
}
.primary .impact_img svg {
	background-color:${webleger.site.style.primary.highlight.color};
}

.primaryInverse{
	color:${webleger.site.style.primary.background.color};
	background-color:${webleger.site.style.primary.color};
}

.discret, .primary .discret, .secondaty .discret {
	opacity:50%;
}

.objectContain, .objectContain img {
	object-fit:contain !important;
}

.card {
	background-color:${webleger.site.style.card.background.color};
}

.label{
	font-size:110% !important;
}

.elementWithIconSmallWrap.main .btn-default {
	color:${webleger.site.style.primary.background.color.medium}
}

.btn-primary.dowloadLink .label {
	color:${webleger.site.style.primary.color};
}

.metaDataListInLine {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: start;
	flex-wrap: wrap;
	gap: 6px;
	padding-left:6px;
	margin-bottom:12px;
}

#preHeader_blocks {
	display: flex;
	flex-direction: column-reverse;
	align-items: start;
}
#preHeader .blockContent {
	padding: 0;
	margin-left: 12px;
}
#preHeader .blockContent > p{
	margin : 0px;
}
#preHeader .blockIcon{
	width: auto;
	height:auto;
}

.green {
	color:hsl(92.14,57.32%,97.13%);
	background-color:hsl(133.55,100%,23.74%,0.2);
}
.light_green {
	color:hsl(92.14,57.32%,97.13%);
	background-color:hsl(133.55,100%,23.74%,0.1);
}
.darkGreen {
	color:hsl(92.14,57.32%,97.13%);
	background-color:${webleger.site.style.primary.background.color};
}
.blue {
	color:hsl(194.31 100% 17.38%);
	background-color:hsl(191.81,100%,36.82%,0.15);
}
.orange {
	color:hsl(24.57 100% 24.82%);
	background-color:hsl(30.96,100%,48.44%,0.2);
}
.round {
	border-radius:9999px;
}

.secondary strong{
	color:black;
}

p {
	color:${webleger.site.style.muted.foreground};
}

.minimalCard .blockTitle {
	font-size:medium;
	font-weight: 700;
	letter-spacing: 0.05em;
}

.minimalCard .block_title_image_wraper{
	background-color:hsl(133.55,100%,23.74%,0.2);
	padding:6px;
	border-radius:9999px;
	color:${webleger.site.style.primary.background.color};
}

.imageHeroSection {
	margin-bottom: 2rem;
}
.imageHeroSection .blockContent h1, .imageHeroSection .blockContent h2,.imageHeroSection .blockContent h3,.imageHeroSection .blockContent h4, .imageHeroSection .blockContent p{
	border-radius:6px;
	padding: 12px 12px 12px 3px;
	font-weight: bold;
	letter-spacing: 0.05em;
	color: ${webleger.site.style.primary.background.color};
	background-color:hsl(92.14,57.32%,97.13%,0.7);
}
.imageHeroSection .blockContent h1, .imageHeroSection .blockContent h2,.imageHeroSection .blockContent h3,.imageHeroSection .blockContent h4 {
	display:inline-block;
}
.imageHeroSection .title .blockContent p {
	color: ${webleger.site.style.primary.background.color};
}
.vaguesSvg {
	z-index:5;
	color:${webleger.site.style.background.color};
}

.imageHeroSection .title {
	padding-bottom: 2rem;
	margin-top:12px;
}

.imageHeroSection .title, .title h1 {
	color:${webleger.site.style.primary.background.color};
}
.imageHeroSection .title .sticker_list  {
	display:block;
}
.imageHeroSection .title .sticker_list .sticker {
	padding:8px 12px;
	border-radius:24px;
}

#beforeMainContent {
	z-index:6;
}

.action_button.btn {
	padding:12px 36px;
	font-weight:600;
	border-radius: 30px;
	z-index:50;
	position:relative;
	z-index:5;
	border-color:${webleger.site.style.color};
	color:${webleger.site.style.primary.color};
}
.action_button.btn-default {
	color:${webleger.site.style.primary.background.color}!important;
}
.action_button.btn-default:hover {
	color:${webleger.site.style.background.color}!important;
}
.btn-semi-transparent {
	background-color:${webleger.site.style.primary.background.color.medium};
	backdrop-filter:blur(8px);
	border-color:transparent!important;
	border:1px solid ${webleger.site.style.background.color};
	color:${webleger.site.style.primary.color};
}

h2 {
	letter-spacing: -.025em;
	color:${webleger.site.style.color};
}
.hp iframe {
	border-radius:5%!important;
    border: 2px solid ${webleger.site.style.discret.background.color}!important;
}

.pageContent .activeFilter, .pageContent .btn-default:focus {
	color: ${webleger.site.style.background.color};
	background-color: ${webleger.site.style.impact.color};
    border-color: ${webleger.site.style.background.color};
}
.pageContent .btn-default:focus {
	font-weight:bolder;
}

.facebook_cta {
	float:right;
}
.actions_list.facebook_cta a {
	padding: 6px 24px;
}

.paneauPocketGroup {
	flex-direction:column;
}
#paneauPocketGroup .block {
	width:100%
}

.section > .blockTitle, .section > .groupe_content > .blockTitle {
	text-transform:uppercase;
	letter-spacing: .2em;
	font-weight:750;
	font-size:11px;
	color:${webleger.site.style.impact.color};
}

.section > .blockBody > .blockContent {
	padding:0;
}

.section > .blockBody > .blockContent {
	padding:0;
}

.faceBookLogo {
	color: #1877f2;
	background-color: #1877f21a;
	border-radius:100%;
}
.faceBookNews {
	margin-bottom: 25px;
}
.faceBookNews .blockTitle {
	padding-bottom:0;
}

.panneauPocket_infos {
	padding:6px;
	margin-top:12px;
	border-radius: 25px;
}

.lastPublications .block_wraping{
	width:100%;
}

.publication_items {
	display:flex;
	flex-direction:column;
	flex-wrap:wrap;
}

.publication {
	border-radius:24px;
	margin:10px;
	padding:12px;
	border:1px solid ${webleger.site.style.discret.background.color};
	background-color:${webleger.site.style.card.background.color};
}
.publication_identification {
	display:flex;
	flex-direction:row;
	align-items:center;
	gap:12px;
	text-transform:upperCase;
	letter-spacing:initial;
	font-weight:800;
	font-size: x-small;
	color:${webleger.site.style.impact.color};
}
.publication .publication_title {
	margin-top:0;
	font-size:1.3em;
	color:black;
}
.publication.full .publication_title {
	margin-top:12px;
	font-size:x-large;
	color:black;
}
.publication .publication_exerpt {
	line-height:1.3em;
}
.publication.full .publication_exerpt {
	font-weight:500;
	padding-bottom:6px;
}
.publication .publication_content {
	font-size:.8em;
	line-height:1.5em;
}
.publication.full .publication_content {
	font-size:inherit;
	line-height:inherit;
}

.notreTeritoire .blockIcon_wraper img {
	width: 100%;
	height: auto;
	max-width: 100%;
	border-radius:40px;
}

.cardWithDetailsSubTemplate {
	border-radius:24px;
	margin:6px 0;
	padding:12px 12px 0 12px;
	border:1px solid ${webleger.site.style.border.color};
	background-color:${webleger.site.style.card.background.color};
}
.cardWithDetailsSubTemplate .blockTitle {
	margin-top:0;
	font-size:.875em;
}
.cardWithDetailsSubTemplate .blockTitle img {
	border-radius: 99999px;
	padding: 0.2em;
}

.personne.imageBeforeTitleSubTemplate .blockTitle .block_title_image_wraper img, .personneSynthese.imageBeforeTitleSubTemplate .blockTitle .block_title_image_wraper img{
	border-radius: 100%;
	width: 150px;
	height: auto;
	border:1px solid ${webleger.site.style.disabled.color};
}
.personneSyntheseSmall.imageBeforeTitleSubTemplate .blockTitle .block_title_image_wraper img{
	border-radius: 100%;
	width: 50px;
	height: auto;
	border:1px solid ${webleger.site.style.disabled.color};
}
.personneSyntheseSmall.imageBeforeTitleSubTemplate .blockTitle{
	font-size: medium;
 	font-weight: normal;
}
.personneDetail .personneSyntheseFeatured {
	font-size:medium;
	list-style: none;
}
.personneDetail .personneSyntheseFeatured li{
	float:left;
	padding: 6px;
	border-radius: 25px;
	margin-left: 6px;
	margin-top: 6px;
	border: 1px solid ${webleger.site.style.primary.background.color};
	background-color: ${webleger.site.style.primary.background.color.medium};
}

.personneNoDetails .blockTitle {
	font-size:125%;
}

.personne .personneInfo {
	display:block;
}
.personne a {
	text-decoration: underline dotted ${webleger.site.style.primary.background.color};
}

.relationTitle:first-letter {
    text-transform: uppercase;
}

.graphItemsCompactLeft .block_wraping  {
	justify-content:flex-start;
	gap:6px;
}

.service_items {
	gap:24px;
}

.serviceGroup_header, .service_header {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	gap: 12px;
	padding:6px;
}
.service_header {
	border-bottom: 1px solid lightgrey;
	padding-bottom: 12px;
	margin-bottom: 12px;
}
.service_header .service_exerpt{
	font-size:small;
	font-weight:bold;
	color:${webleger.site.style.impact.color};
}
.serviceGroup_exerpt{
	line-height: initial;
}
.serviceGroup_header .serviceGroup_image, .service_header .service_image {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
 	align-items: center;
	text-align: center;
	object-fit: contain;
	max-width: 48px;
}
.serviceGroup_header .serviceGroup_image svg{
	padding:4px;
}
.service_header .service_image svg{
	padding:6px;
	border-radius:16px;
}
.service_header img.service_image{
	border-radius:16px;
}
.serviceGroup_header .serviceGroup_header_title, .service_header .service_header_title{
	width:70%;
	color:${webleger.site.style.muted.foreground};
}
.serviceGroup_header .serviceGroup_header_title h3, .service_header .service_header_title h3{
	margin:0;
	vertical-align: middle;
	padding-bottom:12px;
}
.serviceGroup_block hr, .service_block hr {
	width:90%;
	color:${webleger.site.style.muted.foreground};
}

.serviceGroup_block .toc .toc_list {
	padding-left:12px;
}
.serviceGroup_block .toc .toc_title {
	display:none;
}

.serviceGroup_block .toc .toc_label{
	text-align: start;
}
.serviceGroup_block .toc .toc_item {
	list-style: none;
	font-weight:bold;
}

.serviceGroup_block .toc .toc_item svg, .servicesPage .toc .toc_item svg{
	width:24px;
	height:24px;
	padding:3px;
	border-radius:6px;
}
.serviceGroup_block .toc .toc_item img, .servicesPage .toc .toc_item img{
	width:24px;
	height:24px;
	border-radius:6px;
}

.servicesPage .toc .toc_list {
	display:flex;
	flex-wrap:wrap;
	gap:12px;
}
.servicesPage .toc .toc_item {
	list-style: none;
	border: 1px solid lightgrey;
	border-radius: 12px;
	padding: 3px 12px;
	background: ${webleger.site.style.card.background.color};
}

.service_block, .serviceGroup {
	border: 1px solid lightgrey;
	border-radius:24px;
	margin-bottom: 24px;
	background-color:${webleger.site.style.card.background.color};
}
.service_block .service_header {
	background-color:#f2f9f8;
	padding-left:6px;
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}
.service_block .blockContent img{
	max-width:100%;
}
.service_block blockquote{
	display: flex;
	flex-wrap: wrap;
    gap: 6px;
    padding:0;
    margin:0;
    font-size:medium;
    border-left:none;
	background-color:${webleger.site.style.card.background.color};
}
.service_block blockquote p{
	width:48%;
	border-radius:10%;
	padding:12px;
	color:${webleger.site.style.muted.foreground};
	background-color:${webleger.site.style.primary.background.color.light};
}
.service_block blockquote p strong{
	color:${webleger.site.style.color};
}

.service_block .greenButtonLikeChildDivs > div, .blockWithImageSmall .greenButtonLikeChildDivs > div, .blockWithImageMedium .greenButtonLikeChildDivs > div{
	color:black;
	border-radius:12px;
	padding:3px 6px;
	font-weight: 620;
	font-size:medium;
	background-color:${webleger.site.style.primary.background.color.light};
}
.publication_block .dowloadLink, .service_block .dowloadLink, .blockWithImageSmall .dowloadLink, .blockWithImageMedium .dowloadLink {
	padding:3px 6px;
}

.demarches .content_type_modal .card_title {
	min-height:2.2em;
	color:${webleger.site.style.secondary.color};
}
.demarches .content_type_modal .card_exerpt {
	min-height:3.5em;
}
.demarches .content_type_modal .showMore {
	display:flex;
	width: auto;
	padding: 3px 24px;
	border-radius: 24px;
	background-color:${webleger.site.style.secondary.color};
}

.demarches .content_type_modal .showMore:hover {
	background-color: ${webleger.site.style.background.color};
}

.tourisme h2{
	font-size:80%;
	font-weight: 700;
	margin-bottom:0;
	color:${webleger.site.style.impact.color}
}
.tourisme h3{
	margin-top: 5px;
}
.tourisme .blockContent{
	padding-left:0;
}

.aide .block img{
	max-width:400px;
}

.blockWithImageSmall_list, .blockWithImageMedium_list{
	display:flex;
	flex-direction:column;
	gap:12px;
	flex-wrap:wrap;
	min-height:250px;
}

.defaultBlock_list{
	display: flex;
	flex-wrap:wrap;
	flex-direction: row;
	gap: 12px;
	justify-content: space-evenly;
}

.blockWithImageSmall, .blockWithImageMedium, .defaultBlock, .defaultCard, .vieEconomique .linkToAgenda, .aideBlock{
	border-radius: 20px;
	box-shadow: 0 1px 2px hsl(136.86 69.9% 7.58% / 0.04), 0 8px 24px -12px hsl(136.86 69.9% 7.58% / 0.12);
	overflow: hidden;
	display: flex;
	flex-direction:column;
	height:100%;
	border:1px solid ${webleger.site.style.border.color};
	background-color:${webleger.site.style.card.background.color};
}

.defaultBlock, .defaultCard {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 6px;
	padding:12px;
	width:98%;
}
.defaultBlock_image svg{
	width:48px;
	height:auto;
}

.blockWithImageSmall, .blockWithImageMedium{
	min-height: 310px;
}
.blockWithImageSmall .image_cover_wrapper{
	height:150px;
	width:100%;
}
.blockWithImageSmall .image_cover_wrapper img{
	height:100%;
	width:100%;
	object-fit:cover;
	max-width:inherit;
	margin:0 !important;
}
.blockWithImageSmall .block_content, .blockWithImageMedium .block_content{
	padding:12px;
	color:${webleger.site.style.muted.foreground};
}
.blockWithImageSmall .blockTitle, .blockWithImageMedium .blockTitle{
	font-size:150%;
	font-weight:normal;
	padding-left:6px;
	min-height:3em;
	color:${webleger.site.style.color};
}
.blockWithImageSmall .blockDetail, .blockWithImageMedium .blockDetail{
	min-height:3em;
}
.blockWithImageSmall .labelShowMore, .blockWithImageMedium .labelShowMore{
	font-weight:bold;
	color:${webleger.site.style.primary.background.color};
}
.blockWithImageSmall hr,  .blockWithImageMedium hr{
	width:90%;
	margin-top:6px;
	margin-bottom:6px;
}

.listAsMiniCard ul {
	list-style: none;
	display:flex;
	flex-wrap:wrap;
	gap:12px;
	padding-left:0;
}
.listAsMiniCard ul li {
	border-radius:12px;
    line-height: 20px;
    padding: 12px 6px 12px 12px;
    display: flex;
    gap: 12px;
    align-items: center;
	background-color:${webleger.site.style.card.background.color};
	border:1px solid ${webleger.site.style.border.color};
}
.listAsMiniCard ul li strong{
	display:block;
	color:${webleger.site.style.color};
}
.listAsMiniCard ul li span {
	display:flex;
	flex-direction:column;
}

.listAsMiniCard ul li img{
	width:60px;
}


.listVoirure ul li:not(:has(img)){
	background-repeat: no-repeat;
	padding-left:45px;
	background:url(${webleger.build.host}/images/icones/voiture.svg) no-repeat 15px  center; 
}

.listBulding ul li:not(:has(img)){
	background-repeat: no-repeat;
	padding-left:45px;
	background:url(${webleger.build.host}/images/icones/bulding.svg) no-repeat 15px  center, #fff; 
}

.tableFullSizeNoInternalBorder table {
	background-color:${webleger.site.style.card.background.color};
	border:1px solid ${webleger.site.style.border.color};
	border-radius:12px;
	width:100%;
}
.tableFullSizeNoInternalBorder table tr {
	border:1px solid ${webleger.site.style.border.color};
}
.tableFullSizeNoInternalBorder table tr td {
	border:none;
	padding:12px;
}
.tableFullSizeNoInternalBorder table tr td:first-child {
	font-weight:bold;
}

.imageFloatRight img {
	max-width:inherit;
	float:right;
	padding-left: 12px;
}

.imageFloatLeft img {
	max-width:inherit;
	float:left;
	padding-right: 12px;
}

.imageNoMaxWidth img {
	max-width:inherit;
}


.vieEconomique .annuaire .blockWithImageSmall, .associations .annuaire .blockWithImageSmall{
	position:relative;
}
.vieEconomique .annuaire .blockWithImageSmall_exerpt{
	font-weight:bold;
	text-align:center;
	height:4em;
}
.vieEconomique .annuaire .blockWithImageSmall_exerpt:first-letter{
	text-transform: uppercase;
}
.vieEconomique .annuaire .block_title, .associations .annuaire .block_title {
	height:4em;
}
.vieEconomique .linkToAgenda .blockIcon .svg{
	width:48px;
	height:auto;
}
.vieEconomique .linkToAgenda{
	padding:12px;
}

.associations .annuaire .block_title{
	margin-right:50px;
}
.vieEconomique .annuaire .blockContent > p > img, .associations .annuaire .blockContent > p > img {
	height:auto;
	max-width:95%;
}
.vieEconomique .annuaire .blockWithImageSmall_body, .associations .annuaire .blockWithImageSmall_body {
	overflow: overlay;
	scrollbar-width: thin;
	padding-left:6px;
	scrollbar-color: ${webleger.site.style.primary.background.color} ${webleger.site.style.primary.background.color.light};
}
.vieEconomique .annuaire .elementWithIconSmallWrap, .associations .annuaire .elementWithIconSmallWrap {
	margin-top:3px;
}
.vieEconomique .annuaire .blockWithImageSmall_title, .associations .annuaire .blockWithImageSmall_title {
	display:flex;
	align-items:center;
	margin-top:6px;
	padding-left:6px;
	height: 2em;
}


.blockWithImageMedium {
	padding-left:12px;
}
.projetHeader {
	display: flex;
}
.blockWithImageMedium_image_wraper{
	width:25%;
}
.blockWithImageMedium_image_wraper img, .blockWithImageMedium_image_wraper svg{
	width:100%;
	height:auto;
}
.project_infos {
	margin-left:12px;
}

.chronology ol {
	position:relative;
	padding-left:1.75rem;
	border-left:2px solid ${webleger.site.style.border.color};
	margin-left:12px;
}
.chronology ol > li{
	position:relative;
	list-style: none;
	color:${webleger.site.style.color};
}
.chronology ol > li .chronolgy_icone {
	position:absolute;
	left:-29px;
	top:0.125rem;
	background-color:${webleger.site.style.card.background.color};
}
.chronology ol > li .chronolgy_date {
	text-transform: uppercase;
	letter-spacing:.05em;
	margin-top: 12px;
	color:${webleger.site.style.muted.foreground};
}
.chronology ol > li .chronolgy_label {
	font-weight: 600;
	color:${webleger.site.style.color};
}

.mairie_infos {
	padding:12px;
}
.mairie_infos .elementWithIconSmallWrap{
	margin-top:12px;
}
.mairie_infos, .mairie_infos .location, .mairie_infos .phone, .mairie_infos .email, .mairie_infos .hours {
	font-size:larger;
}
.mairie_infos .iconWrap{
	width:48px;
	height:auto;
}
.mairie_infos .iconWrap svg{
	width:48px;
	height:auto;
	color:${webleger.site.style.impact.color} !important;
}

.num_urgence .elementWithIconSmallWrap .iconWrap{
	width:60px;
	height:60px;
	border-radius:99999px;
	margin:12px;
	background-color:${webleger.site.style.destructive.background.color};
}
.num_urgence .elementWithIconSmallWrap .iconWrap svg{
	width:36px;
	height:auto;
	color:${webleger.site.style.destructive.color};
}

.minimalBlock{
	border:1px solid ${webleger.site.style.border.color};
	border-radius: 20px;
	display: flex;
	flex-direction:column;
	background-color:${webleger.site.style.card.background.color};
}

.topLeftIcon {
	display:flex;
	font-size:X-Large;
	background-color:white;
	border-radius:9999px;
	justify-content: center;
	align-items: center;
	width:40px;
	height:auto;
	border:1px solid ${webleger.site.style.border.color};
}

.objectClasse {
	display:flex;
	gap:12px;
}
.objectClasse .block {
	border:2px solid ${webleger.site.style.border.color};
	border-radius:12px;
	padding:6px;
	width:48%;
	background-color:${webleger.site.style.card.background.color};
}
.objectClasse .block img {
	float:right;
	padding-left: 12px;
	width:48%;
}

.acteurEcoCategorie, .assoCategorie, .projetDuree {
	text-transform: uppercase;
	letter-spacing:.05em;
	padding-left:6px;
	color:${webleger.site.style.impact.color};
}
.assoCategorie {
	margin-left:6px;
	min-height: 2.8em;
}

#sectionFooter {
	background-color:${webleger.site.style.secondary.background.color};
}
#footer_blocks .block {
	text-align:left;
}
#footer_blocks .blockBody {
	flex-direction: column;
	align-items:flex-start;
}

#footer_blocks .blockTitle > span {
	letter-spacing: -.025em;
	font-weight: bold;
	font-size: large;
	color:${webleger.site.style.color};
}

#footer_blocks .block:not(#contact) .blockTitle > span {
	text-transform:uppercase;
}


#footer_blocks #contact .block_title_image_wraper img {
	width:80px;
	border-radius:99999px;
}

.footerLogoMessage {
	font-size: 0.80em;
}
.footerSecondRow {
	font-size: 0.85em;
}
.firstInRow {
	border-top: 1px solid ${webleger.site.style.secondary.hr.color};
}
.lastInRow{
	text-align: right !important;
}

@media screen and (min-width: 640px) {
	#preHeader_blocks {
		flex-direction: row-reverse;
		justify-content: flex-start;
		gap:30px;
	}
	.preHeader .blockContent {
		margin-left: 25px;
	}
	.cardWithDetailsSubTemplate .blockBody {
		flex-direction:column;
		align-items:start;
	}

	.imageHeroSection {
	    margin-bottom: 5rem;
	}
	.imageHeroSection  .title {
		padding-bottom: 8rem;
		margin-top:48px;
		min-width:640px;
	}
	
	.imageHeroSection  .title .blockContent p {
		width:60%;
	}
	#panneauPocket_infos .actions_list {
		flex-direction:column;
	}
	
	.publication_list {
		display:flex;
		flex-wrap: wrap;
		flex-direction:row;
	}
	.publication_list .publication{
		width:45%;
	}
	.publication_list .full{
		width:45%;
	}
	.serviceGroup_list {
		display:flex;
		flex-wrap: wrap;
		flex-direction:row;
	}
	
	.aide .block img{
		max-width:600px;
	}
	
	.listAsMiniCard ul li {
		width:48%;
	}
	
	.blockWithImageSmall_list{
		flex-direction:row;
	}
	.blockWithImageSmall{
		width:48%;
	}
	.blockWithImageMedium {
		width:98%;
	}
	.associations .annuaire .blockWithImageSmall{
		height: 400px;
	}
	.vieEconomique .annuaire .blockWithImageSmall{
		height: 575px;
	}
	
	.footerSecondRow {
		width:50% !important;
		margin-top: 24px;
		padding-top: 24px;
		border-top: 1px solid ${webleger.site.style.secondary.hr.color};
	}
}

@media screen and (min-width: 900px){
	.imageHeroSection  .title {
		min-width:900px;
	}
	.faceBookNews {
		width:65%;
	}
	#paneauPocketGroup {
		width:32%
	}
	
	.publication_list .publication{
		width:45%;
	}
	
	.aide .block img{
		max-width:1000px;
	}
	
	.blockWithImageSmall{
		width:30%;
	}
	.blockWithImageMedium {
		width:48%;
	}
}
