/** Custom general style **/
.navbar-nav > li > a, .dropdown-menu > li > a{
	border-radius:15px;
}

.navbar-transparent{
	background-color: rgb(250,250,250,0.5);
	backdrop-filter: blur(4px);
}

.breadcrumb li a {
    border-radius:15px;
}
.impact_img svg {
	background-color:${webleger.site.style.color};
	color:${webleger.site.style.background.color};
}
.primary .impact_img svg {
	background-color:${webleger.site.style.primary.highlight.color};
}

#preHeader_blocks {
	display: flex;
	flex-direction: column-reverse;
	align-items: start;
}
#preHeader .blockContent {
	padding: 0;
	margin-left: 12px;
}
#preHeader .blockContent > p{
	margin : 0px;
}
#preHeader .blockIcon{
	width: auto;
	height:auto;
}

.imageHeroSection {
	    margin-bottom: 2rem;
}
.vaguesSvg {
	z-index:5;
	color:${webleger.site.style.background.color};
}
#beforeMainContent {
	z-index:6;
}

#accueil {
	padding-bottom: 2rem;
	margin-top:12px;
}

.title, .title h1 {
	color:${webleger.site.style.primary.color};
}
.title .sticker_list  {
	display: inline-block;
}
.title .sticker_list .sticker {
	padding:8px 12px;
	border-radius:24px;
}

.action_button.btn {
	padding:12px 36px;
	font-weight:600;
	border-radius: 30px;
	z-index:50;
	position:relative;
	color:${webleger.site.style.background.color};
}

.action_button.btn-default {
	color:${webleger.site.style.primary.background.color}!important;
}
.action_button.btn-default:hover {
	color:${webleger.site.style.background.color}!important;
}
.btn-semi-transparent {
	background-color: rgb(250,250,250,0.25);
	backdrop-filter:blur(8px);
	border:1px solid ${webleger.site.style.background.color};
}


#footer_blocks .block {
	text-align:left;
}
#footer_blocks .blockBody {
	flex-direction: row;
}

@media screen and (min-width: 640px) {
	#footer_blocks .block {
		width:31%;
	}
	#preHeader_blocks {
		flex-direction: row-reverse;
		justify-content: flex-start;
		gap:30px;
	}
	.preHeader .blockContent {
		margin-left: 25px;
	}
	.imageHeroSection {
	    margin-bottom: 5rem;
	}
	#accueil {
		padding-bottom: 8rem;
		margin-top:48px;
	}
}
