.actions_list {
	display: flex;
	flex-direction: column;
}

.actions_list a {
	margin-top:10px;
	display: flex;
	align-items: center;
	gap: 15px;
	justify-content: center;
}

.action_centered {
	justify-content: center;
}

.action_left {
	justify-content: start;
}

@media screen and (min-width: 640px) {
	.action_centered, .action_left {
		flex-direction: row;
		gap: 8px;
	}
}